<% form_for @user, :html => { :multipart => true } do |f| %>
  <%- content_for :head do -%>
    <%- javascript_tag do -%>
       <%= "var skill='#{generate_template(f, :skills)}'" %>
    <%- end -%>
  <%- end -%>

  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p>

  <div id="skills">
    <% f.fields_for :skills do |skill_form| %>
      <%= render :partial => 'skill', :locals => { :f => skill_form } %>
  <% end %>
  </div>

  <p>
  <%= link_to 'Add a skill', '#skill', :class => "add_nested_item", :rel => "skills" %>
  </p>
  
  <p><%= f.submit "Submit" %></p>
<% end %>