- semantic_form_for @user, :html => { :multipart => true } do |f|
  - content_for :head do
    :javascript
      var skill='#{generate_template(f, :skills)}'

  = f.inputs :name, :photo

  #skills.nested
    - f.inputs do
      - f.semantic_fields_for :skills do |skill|
        = render(:partial => 'skill', :locals => {:f => skill})

  %p
    = link_to 'Add a skill', '#skill', :class => "add_nested_item", :rel => "skills"
  
  %p= f.submit "Submit"