<% form_for @skill do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :period %><br />
    <%= f.text_field :period %>
  </p>
  <p>
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
