<% title "Skills" %>

<table>
  <tr>
    <th>Name</th>
    <th>Period</th>
    <th>Reference</th>
  </tr>
  <% for skill in @skills %>
    <tr>
      <td><%=h skill.name %></td>
      <td><%=h skill.period %></td>
      <td><%=h skill.reference %></td>
      <td><%= link_to "Show", skill %></td>
      <td><%= link_to "Edit", edit_skill_path(skill) %></td>
      <td><%= link_to "Destroy", skill, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Skill", new_skill_path %></p>
