<% title "Skill" %>

<p>
  <strong>Name:</strong>
  <%=h @skill.name %>
</p>
<p>
  <strong>Period:</strong>
  <%=h @skill.period %>
</p>
<p>
  <strong>Reference:</strong>
  <%=h @skill.reference %>
</p>

<p>
  <%= link_to "Edit", edit_skill_path(@skill) %> |
  <%= link_to "Destroy", @skill, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", skills_path %>
</p>
