- semantic_form_for @project do |form|
  - form.inputs :name => "Project" do
    = form.input :name, :hint => "This field is required"
    = form.input :description
    = form.input :start
    = form.input :finish

  - form.semantic_fields_for :projectmanager do |projectmanager|
    - projectmanager.inputs :name => "Projectmanager" do
      = projectmanager.input :name
      = projectmanager.input :email
      = projectmanager.input :phone

  = form.submit