<% form_for @project do |form| %>
  <%= form.error_messages %>
  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %><br />
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :start %><br />
    <%= form.date_select :start %>
  </p>
  <p>
    <%= form.label :finish %><br />
    <%= form.date_select :finish %>
  </p>
  
  <%- form.fields_for :projectmanager do |child_form| -%>
  <p>
    <%= child_form.label :name %><br />
    <%= child_form.text_field :name %>
  </p>
  <p>
    <%= child_form.label :email %><br />
    <%= child_form.text_field :email %>
  </p>
  <p>
    <%= child_form.label :phone %><br />
    <%= child_form.text_field :phone %>
  </p>
  <%- end -%>
  
  <p><%= form.submit "Submit" %></p>
<% end %>
