- title "Projects"

%table
  %tr
    %th Name
    %th Description
    %th Start
    %th Finish
  - for project in @projects
    %tr
      %td= h project.name
      %td= h project.description
      %td= h project.start
      %td= h project.finish
      %td= link_to "Show", project
      %td= link_to "Edit", edit_project_path(project)
      %td= link_to "Destroy", project, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Project", new_project_path
